{% extends "base.html" %}

{% block title %}Área personal{% endblock %}

{% block content %}
    <h1>Cambiar contraseña de usuario {{ usuario.username }}</h1>
        <form method="POST" action="{{ url_for('main_routes.cambiar_password_usuario_admin', username=username) }}">
            <div class="mb-3">
                <label for="new_password" class="form-label">Nueva contraseña:</label>
                <input type="password" class="form-control" id="new_password" name="new_password" required>
            </div>
            <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirmar nueva contraseña:</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            </div>
            <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
            <a href="{{ url_for('main_routes.dashboard') }}" class="btn btn-danger mt-2">Volver</a>
        </form>
{% endblock %}