{% extends "base.html" %}

{% block title %}Confirmar eliminación{% endblock %}

{% block content %}
        <h1>Confirmar eliminación de usuario</h1>
        <p>¿Estás seguro de que deseas eliminar al usuario "{{ usuario.username }}"?</p>
        <form method="POST" action="{{ url_for('main_routes.eliminar_usuario', id=usuario.id) }}">
            <button type="submit" class="btn btn-danger">Eliminar usuario</button>
            <a href="{{ url_for('main_routes.gestion_usuarios') }}" class="btn btn-secondary">Cancelar</a>
        </form>
{% endblock %}