<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Gestión de Usuarios</title>
    </head>
    <body>
        <h1>Gestión de Usuarios</h1>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Nombre de Usuario</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.id }}</td>
                <td>{{ usuario.nombre_usuario }}</td>
                <td>{{ usuario.rol }}</td>
                <td>
                    <a href="{{ url_for('main_routes.editar_usuario', usuario_id=usuario.id) }}">Editar</a> |
                    <a href="{{ url_for('main_routes.eliminar_usuario', usuario_id=usuario.id) }}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br>
        <a href="{{ url_for('main_routes.dashboard') }}">Volver al Panel Principal</a>
    </body>
</html>