{% extends "base.html" %}

{% block title %}Gestión de usuarios{% endblock %}

{% block content %}
<h2>Gestión de usuarios</h2>
<div class="text-end mb-3">
    <a href="{{ url_for('main_routes.nuevo_usuario') }}" class="btn btn-success">➕ Nuevo usuario</a>
</div>
<div class="container mt-4">
    <table class="table table-striped shadow">
        <thead class="table-primary">
            <tr>
                <th>Usuario</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.role }}</td>
                    <td>
                    <a href="{{ url_for('main_routes.editar_usuario', id=usuario.id) }}" class="btn btn-sm btn-warning">✏️ Editar</a>
                    <a href="{{ url_for('main_routes.eliminar_usuario', id=usuario.id) }}" class="btn btn-sm btn-danger">🗑️ Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('main_routes.dashboard') }}" class="btn btn-secondary mt-3">Volver</a>
{% endblock %}